Repository colltaemin/Flower_Shop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/pint

.lintstagedrc.json:

{
    "resources/**": ["prettier --write"],
    "*.php": "./vendor/bin/pint"
}

Prettier Fixed!
  package-lock.json
Due: none

chore: update permisson
  app/Http/Controllers/RoleController.php
  app/Models/Permission.php
  app/Providers/AppServiceProvider.php
  database/factories/PermissionFactory.php
  database/migrations/2022_08_22_112926_create_permissions_table.php
  database/migrations/2022_08_22_113045_create_table_user_role.php
  database/migrations/2022_08_22_113134_create_table_permission_role.php
  database/seeders/DatabaseSeeder.php
  public/admins/product/index/list.js
  resources/views/admin/role/add.blade.php
Due: prettier --write, ./vendor/bin/pint

chore: new update project
  app/Http/Controllers/CheckLoginController.php
  app/Http/Controllers/RoleController.php
  app/Http/Controllers/UserController.php
  app/Models/Role.php
  app/Models/User.php
  app/Providers/AuthServiceProvider.php
  config/permission.php
  database/factories/PermissionFactory.php
  database/factories/UserFactory.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2022_08_22_112926_create_permissions_table.php
  database/seeders/DatabaseSeeder.php
  public/home/header/header.css
  resources/views/admin/category/add.blade.php
  resources/views/admin/category/edit.blade.php
  resources/views/admin/category/index.blade.php
  resources/views/admin/menus/add.blade.php
  resources/views/admin/menus/edit.blade.php
  resources/views/admin/menus/index.blade.php
  resources/views/admin/product/add.blade.php
  resources/views/admin/product/edit.blade.php
  resources/views/admin/product/index.blade.php
  resources/views/admin/role/edit.blade.php
  resources/views/admin/role/index.blade.php
  resources/views/admin/user/add.blade.php
  resources/views/admin/user/edit.blade.php
  resources/views/admin/user/index.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/cart.blade.php
  resources/views/components/header.blade.php
  resources/views/dashboard.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/partials/siderbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint

chore: update projects
  public/home/body/body.css
  public/home/header/header.css
  public/images/13262_tinh-dau-tho-ngay.jpg
  public/images/icon-cay-vp.png
  public/images/icon-hoa-chuc-mung (1).png
  public/images/icon-hoa-chuc-mung.png
  public/images/icon-hoa-sinh-nhat.png
  public/images/icon-hoa-tang-le.png
  public/images/icon-hoa-tinh-yeu.png
  public/images/icon-mau-hoa-moi.png
  public/images/logo-hoa-yeu-thuong.png
  public/images/shopping-bag.png
  public/images/user.png
  public/vendors/select2/logo-hoa-yeu-thuong.png
  resources/views/components/body.blade.php
  resources/views/components/footer.blade.php
  resources/views/components/header.blade.php
  resources/views/errors/403.blade.php
  resources/views/welcome.blade.php
Due: prettier --write, ./vendor/bin/pint

chore: wip
  app/Http/Controllers/CartController.php
  app/Http/Controllers/HomeController.php
  app/Models/Cart.php
  app/Models/Category.php
  database/factories/CategoryFactory.php
  database/migrations/2022_08_15_083247_create_categories_table.php
  database/seeders/DatabaseSeeder.php
  public/assets/clients/css/theme.css
  public/home/body/body.css
  public/home/header/header.css
  resources/views/admin/category/add.blade.php
  resources/views/admin/category/edit.blade.php
  resources/views/components/body.blade.php
  resources/views/components/header.blade.php
  resources/views/errors/403.blade.php
  resources/views/header.blade.php
  resources/views/pages/carts.blade.php
  resources/views/pages/order.blade.php
  resources/views/pages/product.blade.php
  resources/views/pages/theme.blade.php
  resources/views/pages/welcome.blade.php
  resources/views/vendor/pagination/bootstrap-4.blade.php
  resources/views/vendor/pagination/bootstrap-5.blade.php
  resources/views/vendor/pagination/default.blade.php
  resources/views/vendor/pagination/semantic-ui.blade.php
  resources/views/vendor/pagination/simple-bootstrap-4.blade.php
  resources/views/vendor/pagination/simple-bootstrap-5.blade.php
  resources/views/vendor/pagination/simple-default.blade.php
  resources/views/vendor/pagination/simple-tailwind.blade.php
  resources/views/vendor/pagination/tailwind.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint

chore: wip wip
  app/Http/Controllers/HomeController.php
  app/Http/Controllers/OrderController.php
  app/Http/Controllers/UserController.php
  app/Http/Requests/OrderPostRequest.php
  app/Models/Customer.php
  app/Models/Order.php
  database/migrations/2022_09_17_132753_create_orders_table.php
  lang/en/validation.php
  public/home/header/header.css
  resources/views/components/header.blade.php
  resources/views/pages/inforuser.blade.php
  resources/views/pages/order.blade.php
  resources/views/pages/orderlist.blade.php
  resources/views/pages/product.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint

chore: update
  app/Http/Controllers/AdminProductController.php
  app/Http/Controllers/CategoryController.php
  app/Http/Controllers/HomeController.php
  app/Http/Controllers/OrderController.php
  app/Http/Controllers/UserController.php
  app/Models/Customer.php
  app/Models/User.php
  database/migrations/2022_08_15_145147_create_products_table.php
  database/migrations/2022_08_15_145754_create_tags_table.php
  database/migrations/2022_09_17_132520_create_customers_table.php
  lang/en/auth.php
  lang/en/passwords.php
  resources/views/admin/category/index.blade.php
  resources/views/admin/product/index.blade.php
  resources/views/admin/user/index.blade.php
  resources/views/auth/forgot-password.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/components/footer.blade.php
  resources/views/components/header.blade.php
  resources/views/pages/order.blade.php
  resources/views/pages/ordercustomer.blade.php
  resources/views/pages/orderlist.blade.php
  resources/views/pages/product.blade.php
  resources/views/pages/welcome.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint

chore: update
  app/Models/Rating.php
Due: ./vendor/bin/pint

chore: update
  app/Http/Controllers/AdminHomeController.php
  app/Http/Controllers/CheckLoginController.php
  app/Http/Controllers/HomeController.php
  app/Http/Controllers/OrderController.php
  app/Http/Controllers/PaymentController.php
  app/Http/Controllers/RoleController.php
  app/Http/Controllers/UserController.php
  app/Http/Requests/OrderPostRequest.php
  app/Models/Customer.php
  app/Models/User.php
  app/Providers/AuthServiceProvider.php
  database/migrations/2022_10_03_115551_create_ratings_table.php
  public/home/header/header.css
  resources/views/components/header.blade.php
  resources/views/pages/order.blade.php
  resources/views/pages/product.blade.php
  resources/views/partials/siderbar.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint

chore: update admin
  app/Http/Controllers/AdminHomeController.php
  app/Http/Controllers/HomeController.php
  app/Http/Controllers/OrderController.php
  app/Models/Order.php
  app/Models/RoleUser.php
  app/Models/User.php
  composer.json
  composer.lock
  database/factories/OrderFactory.php
  database/factories/OrderFlowerFactory.php
  database/factories/PermissionRoleFactory.php
  database/factories/RoleUserFactory.php
  database/migrations/2022_08_22_113045_create_table_user_role.php
  database/migrations/2022_09_17_132753_create_orders_table.php
  database/seeders/DatabaseSeeder.php
  public/home/header/header.css
  resources/views/admin/home.blade.php
  resources/views/admin/order/index.blade.php
  resources/views/components/footer.blade.php
  resources/views/components/header.blade.php
  resources/views/pages/carts.blade.php
  resources/views/pages/category.blade.php
  resources/views/pages/orderlist.blade.php
  resources/views/partials/header.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint

Laravel Pint Fixed!
  app/Http/Controllers/AdminProductController.php
  app/Http/Controllers/UserController.php
Due: ./vendor/bin/pint

chore: update
  app/Http/Controllers/AdminProductController.php
  app/Http/Controllers/CategoryController.php
  app/Traits/StorageImageTrait.php
  database/seeders/DatabaseSeeder.php
  resources/views/admin/product/add.blade.php
  resources/views/admin/product/edit.blade.php
  resources/views/pages/ordercustomer.blade.php
  resources/views/pages/product.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint

chore: fix momo
  app/Http/Controllers/OrderController.php
  app/Http/Controllers/PaymentController.php
  app/Models/Product.php
  composer.json
  composer.lock
  database/factories/ProductFactory.php
  database/factories/RatingFactory.php
  database/factories/UserFactory.php
  database/seeders/DatabaseSeeder.php
  resources/views/components/header.blade.php
Due: prettier --write, ./vendor/bin/pint

Laravel Pint Fixed!
  app/Http/Controllers/UserController.php
Due: ./vendor/bin/pint
